.other-events {
  max-height: 200px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.calendar-item {
  padding: 12px;
  border: 1px solid;
  border-color: rgba(whitesmoke, 0.1);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 70px 1fr;
  margin-block: 8px;
}

.calendar-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__day {
    font-size: 10px;
  }

  &__date {
    font-size: 24px;
    font-weight: bold;
  }

  &__month {
    font-size: 10px;
  }
}

.calendar-content {
  padding-left: 12px;
  border-left: 1px solid;
  border-color: rgba(whitesmoke, 0.1);
  h4 {
    padding-bottom: 8px;
    margin: 0;
  }
}
